<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="aspnet:MaxHttpCollectionKeys" value="2000"/>-->
    <add key="AryvartLogFilePath" value="E:\Project\New_EmailCampaign\New_EmailCampaign\New_EmailCampaign\ErrorLog"/>
    
    <add key="AryvartBCCEmailID" value="sakthivel@aryvart.com"/>
    <add key="AryvartAdminEmailID" value="sakthivel@aryvart.com"/>
    <add key="AryvartAdminEmailPassword" value="chp@2015"/>
    <add key="AryvartSystemName" value="Aryvart Email Campaign"/>
    <!--<add key="ECSiteURL" value="http://localhost/EC_New"/>-->
    <add key="AryvartSiteURL" value="http://localhost:3735/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="MyConnString" connectionString="Data Source=ARYVARTDOTNET;Integrated Security=true;Initial Catalog=EmailCampaign;User ID=sa;Password=aryvart@2015" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="70"/>
    <!--<machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1"/>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>