<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.EmailCampaignConnectionString"
            connectionString="Data Source=ARYVARTDOTNET;Initial Catalog=EmailCampaign;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>