<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.EmailCampaignConnectionString"
            connectionString="Data Source=ARYVARTDOTNET;Initial Catalog=EmailCampaign;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <!--<add name="DataAccessLayer.Properties.Settings.EmailCampaignConnectionString1"
            connectionString="Data Source=ARYVARTDOTNET;Initial Catalog=EmailCampaign;Integrated Security=True;User ID=sa;Password=aryvart@2015"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>